/* Define a fonte Poppins */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500; /* Espessura média */
  background-color: #fff; /* Fundo branco */
  color: #fff; /* Texto branco */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.countdown-timer {
  text-align: center;
  font-size: 14px;
}

.countdown-value {
  font-weight: 500; /* Espessura média */
}
